/* RESET */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* UTILS */

.debug,
.debug * {
  min-height: 100px;
  padding: 5px;
  background-color: rgb(250, 108, 108);
  border: 2px dashed red;
}

.container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;

  /* debug */
  border: 1px solid black;
  background-color: green;
}

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;

  margin-left: 1rem;
  margin-right: 1rem;
}

[class*="col"] {
  padding-left: 1rem;
  padding-right: 1rem;

  /* debug */
  /* min-height: 200px; */
  background-color: aqua;
}

.col-1 {
  width: 100%;
}

.col-1-2 {
  width: calc(100% / 2);
}

.col-1-3 {
  width: calc(100% / 3);
}

.col-1-4 {
  width: calc(100% / 4);
}

.col-2-3 {
  width: calc(100% / 3 * 2);
}

.col-1-5 {
  width: calc(100% / 5);
}

section {
  margin-bottom: 2rem;
}

.btn {
  padding: 3px 8px;
  font-size: 1.5rem;
  color: white;
  background-color: #0061fe;
  box-shadow: none;
  border: none;
}

/* HEADER  */

.page-header {
  font-size: 1.5rem;
  padding: 20px 0;
}

.page-header .row {
  border: 1px solid black;
  align-items: center;
  justify-content: space-between;

  /* debug */
  /* height: 250px; */
}

div {
  /* debug */
  border: 1px solid black;
}

.element-left,
.element-right {
  display: flex;
  align-items: center;
}

.element-left li {
  display: inline-block;
  margin-left: 20px;
}

.element-right li {
  display: inline-block;
  margin-right: 20px;
}

/* MAIN */

/* section 1 */

.section-jumbo {
  /* debug */
  background-color: #b4d0e6;
}

.section-jumbo h1 {
  font-size: 3rem;
}

.section-jumbo .container {
  position: relative;
  top: 90px;

  /* debug */
  background-color: green;
}

.section-jumbo i {
  display: block;
  font-size: 3rem;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.section-jumbo p,
.section-jumbo button {
  margin-bottom: 2rem;
}

/* section 2 */

.section-business {
  border-top: 1px solid gray;
  margin-top: 10rem;
  padding-top: 2rem;
}

.section-business h2 {
  font-size: 2rem;
}

/* FOOTER  */

.page-footer {
  background-color: black;
}
