/* RESET */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* UTILS */

.debug,
.debug * {
  min-height: 100px;
  padding: 5px;
  background-color: rgb(250, 108, 108);
  border: 2px dashed red;
}

.container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;

  /* debug */
  border: 1px solid black;
  background-color: green;
}

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;

  margin-left: 1rem;
  margin-right: 1rem;
}

[class*="col"] {
  padding-left: 1rem;
  padding-right: 1rem;

  /* debug */
  min-height: 200px;
  background-color: aqua;
}

.col-1 {
  width: 100%;
}

.col-1-2 {
  width: calc(100% / 2);
}

.col-1-3 {
  width: calc(100% / 3);
}

.col-1-4 {
  width: calc(100% / 4);
}

.col-2-3 {
  width: calc(100% / 3 * 2);
}

.col-1-5 {
  width: calc(100% / 5);
}

section {
  margin-bottom: 10rem;
}

.btn {
  padding: 5px 10px;
  min-width: 5rem;
  min-height: 2rem;
  color: white;
  box-shadow: none;
  border: none;
}

.btn.btn-primary {
  background-color: blue;
}

.btn.btn-secondary {
  background-color: white;
  color: black;
  border: 1px solid black;
  font-size: 1.2rem;
}

.txt-center {
  text-align: center;
}

/* HEADER  */

.page-header {
  font-size: 1.5rem;
  padding: 20px 0;
}

.page-header .row {
  border: 1px solid black;
  align-items: center;
  justify-content: space-between;

  /* debug */
  /* height: 250px; */
}

div {
  /* debug */
  border: 1px solid black;
}

.element-left,
.element-right {
  display: flex;
  align-items: center;
}

.element-left li {
  display: inline-block;
  margin-left: 20px;
}

.element-right li {
  display: inline-block;
  margin-right: 20px;
}

.page-header .btn {
  width: 5rem;
}

/* MAIN */

/* section 1 */

.section-jumbo {
  /* debug */
  background-color: #b4d0e6;
}

.section-jumbo h1 {
  font-size: 3rem;
}

.section-jumbo .container {
  position: relative;
  top: 90px;

  /* debug */
  background-color: green;
}

.section-jumbo i {
  display: block;
  font-size: 3rem;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.section-jumbo span {
  display: block;
}

.section-jumbo p,
.section-jumbo button {
  margin-bottom: 2rem;
}

.section-business .col-1-3 {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.section-jumbo .btn {
  padding: 10px 20px;
}

/* section 2 */

.section-business {
  border-top: 1px solid gray;
  margin-top: 10rem;
  padding-top: 2rem;
}

.section-business h2 {
  font-size: 2rem;
}

.time-sub {
  display: flex;
  align-items: center;
  margin: 2rem auto;
}

.time-sub span {
  margin-right: 2rem;
}

.radio-box {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 5px solid blue;
  margin-right: 5px;
}

.card {
  border: 1px solid gray;
}

/* TOP CARD  */

.section-business .top-card {
  text-align: center;
  border-bottom: 1px solid gray;
  padding: 0.5rem 0;
}

/* MAIN CARD  */

.main-card,
.bottom-card {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.main-card .plan,
.price {
  font-weight: bold;
}

.main-card .plan,
.main-card .price,
.main-card ul,
.main-card li,
.main-card button,
.main-card .pay-now {
  margin-bottom: 1rem;
}

.main-card .time {
  margin-bottom: 2rem;
  color: gray;
}

.main-card .btn {
  padding: 10px 20px;
}

.main-card .separate {
  width: 20%;
  border: 1px solid gray;
}

/* BOTTOM CARD  */

.bottom-card span {
  font-weight: bold;
  margin-bottom: 1rem;
}

.bottom-card i {
  color: blue;
  margin-right: 0.5rem;
}

/* CARD TEAM  */

.bottom-card-team span {
  font-weight: bold;
}

.bottom-card-team {
  padding: 1rem 0;
}

.bottom-card-team h3 {
  margin-bottom: 1rem;
}

.bottom-card-team p {
  margin-top: 2rem;
}

.bottom-card-team .btn {
  align-self: center;
  padding: 10px 30px;
}

/* .btn.large {
  padding: 10px 0px;
  width: 100%;
  font-size: 1.2rem;
} */

/* SECTION 3 */

.content-partner {
  margin-top: 4rem;
}

.content-partner p {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

/* SECTION 4 */

.section-operation p {
  margin-bottom: 2rem;
  margin-top: 1rem;
}

/* SECTION 5 */

.section-team h3 {
  margin-bottom: 2rem;
}

/* FOOTER  */

.page-footer {
  background-color: black;
}
